
{% extends "base_generic.html" %}

{% block content %}
<div class="col-sm-12">
   <div class="titulo_pag">
      Bienvenido a Refranes y Proverbios
   </div>
   <h3><center>Acceso de usuario</center></h3>
   <div id="contenido">
      <section>
         <article>
<div align="center">

<p> Le hemos enviado por correo electrónico instrucciones para configurar su contraseña.</p>
<p> Si no ha llegado en unos momentos, revisa tu carpeta de SPAM.</p>
</div>
         </article>
      </section>
   </div>
</div>

{% endblock %}

