
{% extends "base_generic.html" %}

{% block content %}
<div class="col-sm-12">
   <div class="titulo_pag">
      Bienvenido a Refranes y Proverbios
   </div>
   <h3><center>Acceso de usuario</center></h3>
   <div id="contenido">
      <section>
         <article>
<div align="center">
   <form action="" method="POST">

      {% csrf_token %}

      {% if form.email_errors %}

         {{ form.email_errors }}

      {% endif %}

      <p>Introduzca su correo electrónico:</p>
      <p>{{ form.email }}</p>

      <input type="submit" class="btn btn-default btn-lg" value="Restablecer contraseña">
   </form>
</div>
         </article>
      </section>
   </div>
</div>

{% endblock %}

