
{% extends "base_generic.html" %}

{% block content %}
      <div class="col-sm-12">
         <div class="titulo_pag">
            Notas
         </div>
         <h5><center>Esta base de datos contiene</center></h5>
         <div align="center">
            <section>
               <article>
                  <span>Letras: {{ num_letras }}, </span>
                  <span>Orígenes: {{ num_origenes }}, </span>
                  <span>Palabras: {{ num_palabras }}, </span>
                  <span>Refranes: {{ num_refranes }} y </span>
                  <span>Proverbios: {{ num_proverbios }}</span>
               </article>
               <br>&nbsp;
            </section>
            <section>
               <article class="notas">
Hola a <strong>tod@s</strong>
<br>
Dedico este trabajo a todas las personas interesadas en la sabiduría transmitida por nuestros antepasados, y muy especialmente a todos aquellos que desean aprender a conocerse a sí mismos y a todos nuestros semejantes, con objeto, tanto de mejorar su conducta para con el prójimo, como para protegerse de aquellas personas de no tan buena voluntad, que tanto daño causan a los demás y por extensión, a la humanidad.
<br>
<br>
Se ha realizado este proyecto siguiendo fielmente las fuentes de donde se obtiene el contenido, manteniendo siempre la autenticidad de lo expresado, incluido el uso del lenguaje empleado en otros tiempos, dado el carácter ancestral de su contenido.
<br>
<br>
Se organiza según lo expresado en su fuente, que copiado literalmente dice: "los refranes, van en el artículo correspondiente a uno de los vocablos de que se componen, por este orden de preferencia: substantivo, o cualquier palabra usada como tal, verbo, adjetivo, pronombre y adverbio".
<br>
<br>
Para la completa comprensión de lo expresado, se han incluido los significados de las palabras de referencia, aunque en ocasiones se han resumido, a causa de su extensión y múltiples acepciones en sus definiciones, siempre al pie de la letra, y siguiendo la fuente original.
<br>
<br>
Un pequeño e importante inciso, para la correcta interpretación de todo lo incluido; se debe tener mente abierta y comprender como en otros tiempos pasados se interpretaban las cosas y se expresaban las ideas, porque las costumbres cambian como lo hacen las mentalidades de las personas e igualmente las sociedades. Si se pone humildad y empeño en aprender de nuestros antepasados, se entenderá correctamente lo expresado.
<br>
<br>
Ni que decir tiene, se encontrarán fallos y erratas, que en la medida de lo posible se irán subsanando con el tiempo, instando a todos a informar, por cualquier via, de cualquiera de ellas y así poder mantener este trabajo lo más aceptable posible.
<br>
<br>
Me siento muy orgulloso por haber heredado el interés en el <strong>refranero Castellano</strong>, y mantendré el recuerdo de aquellas personas que me hicieron comprender la utilidad de su conocimiento y su puesta en práctica diaria.
<br>
<br>
Te agradezco muy sinceramente que hayas dedicado unos minutos en leer estas n0t4s.
<br>
Me despido, con un fuerte abrazo, de todas las personas de buena voluntad
<br>
<strong>Luis</strong>
               </article>
               </center>
            </section>
            <section>
               <article id="pie">
                  <strong>4&ByM3R</strong>
               </article>
            </section>
         </div>
      </div>
{% endblock %}

