
{% extends "base_generic.html" %}
{% block content %}

{% load misfiltros %}

<div class="col-sm-12">
   <div class="titulo_pag">
      <h2>Lista de resultados</h2>
   </div>
   <div id="contenido">
   {% if object_list and mibusqueda_dicho != 'None' %}
   <section>
      <article>
      <div class="titulo_pag">
         <h3>Resultado de refranes con: "{{ mibusqueda_dicho }}"</h3>
      </div>
      <table border="0" width="100%">
         {% for dicho in object_list %}
         <tr>
         <td align="center">
            {% with cadena=mibusqueda_dicho %}
            <a class="refran" href="{{ dicho.get_absolute_url }}">"{{ dicho.dicho|resalta:cadena }}"</a>
            {% endwith %}
         </td></tr>
         {% endfor %}
         <tr><td>-._.-._.-</td></tr>
      </table>
      </article>
   </section>
   {% else %}
      {% if mibusqueda_dicho != 'None' %}
         <div align="center">
            <h3>No hay resultado en refranes con: "{{ mibusqueda_dicho }}"</h3>
         </div>
      {% endif %}
   {% endif %}
   <br><br><br>
   </div-->
   <!--/div>
</div-->
{% endblock %}
