
{% extends "base_generic.html" %}

{% block content %}
<div class="col-sm-12">
   <div class="titulo_pag">
      Nuevo Refrán
   </div>
   <h3><center>Contenido</center></h3>
   <div id="contenido">
<!--
      <section>
         <article">
-->
<table border="0" width="100%">
<tr>
<td align="center">
<form method="POST" class="refran-form">
{% csrf_token %}
   {{ form.as_p }}
   <button type="submit" class="save btn btn-default">Guardar</button>
</form>
</td>
</tr>
</table>
<!--
         </article>
      </section>
-->
      <section>
         <article id="pie">
            <strong>4&ByM3R</strong>
         </article>
      </section>
   </div>
</div>
{% endblock %}

