
{% extends "base_generic.html" %}
{% block content %}

<div class="col-sm-10">
   <div class="titulo_pag">
   <h2>Refranes creados por <strong>{{ user.get_username.upper }}</strong></h2>
   </div>
   <div id="contenido">
   <section>
      <article>
   {% if refran_list %}
   <table border="0" width="100%">
      <tr>
      {% for refran in refran_list %}
         <td align="center" class="{% if refran.no_publicado %}text-danger{% endif %}">
            <a class="refran" href="{% url 'refran-detalle' refran.pk %}">"{{ refran.dicho }}"</a>
          </td>
          <td  class="{% if refran.no_publicado %}text-danger{% endif %}">{{ refran.get_estado_display }}</td>
          </tr><tr>
          <td>  {{ refran.explicacion }}</td>
          <td></td>
          </tr>
      {% endfor %}
      <tr><td colspan="4">-._.-._.-</td></tr>
   </table>
   {% else %}
      <p>No tienes refranes creados</p>
   {% endif %}
   </article>
   </section>
{% endblock %}


